:root {
  --c-brand: #729e34;
  --c-brand-light: #729e34;
}

html.dark {
  --c-brand: #729e34;
  --c-brand-light: #729e34;

  --c-bg: #222e35;
  --c-bg-dark: #111b21
}

.hero .description {
  max-width: 42rem !important;
}

.custom-container {
  border-radius: .375rem !important;
}

@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Book.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Bold.woff') format('woff');
  font-weight: 700;
}
