/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important

body, header.navbar, div.links, aside.sidebar
  background-color $bgColor !important

input
  color $textColor !important
  background-color $borderColor !important

ul.suggestions
  background-color darken($borderColor, 10%) !important

  .suggestion.focused
    background-color $bgColor !important
