/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #729e34
$textColor = #fff
$bgColor = #222e35
$borderColor = #111b21
$codeBgColor = #282c34
